@font-face {
  font-family: "BrittanySignature";
  src: url("/Font/BrittanySignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.family {
  padding: 5rem 1.5rem;
   background-image: url("/img/fondoBlancoNew.jpeg");
  text-align: center;
}

.family__title {
  font-family: "BrittanySignature";
  font-size: 2.2rem;
  color: #333333;
  margin-bottom: 3rem;
  text-align: center;
}

.family__block {

  margin-bottom: 3.5rem;
}

.family__block h3 {
  font-family: "BrittanySignature";
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.family__group {
  margin-bottom: 1.5rem;
  text-align: center;
}

.family__group p {
  margin: 4px 0;
  font-size: 1rem;
  color: #333333;
  text-align: center;
}

.role {
  font-weight: 600;
  color: #333333;
  margin-bottom: 6px;
  text-align: center;
}

.family__pair {
  margin-bottom: 1.2rem;
}

.family__pair span {
  display: block;
  font-weight: 600;
  color: #333333;
  margin-bottom: 4px;
  text-align: center;
}

.family__pair p {
  margin: 0;
  font-size: 1rem;
  color: #333333;
  text-align: center;
}

/* 🌐 Web */
@media (min-width: 768px) {
  .family {
    padding: 6rem 2rem;
  }

  .family__title {
    font-size: 2.6rem;
  }

  .family__block h3 {
    font-size: 1.7rem;
  }

  .family__group p,
  .family__pair p {
    font-size: 1.05rem;
  }
}