/* src/components/message/MessageToGuests.css */

@font-face {
  font-family: "BrittanySignature";
  src: url("/Font/BrittanySignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.message-section {
  padding: 4rem 1rem;
  background-image: url("/img/fondoBlancoNew.jpeg");
  text-align: center;
}

.message-container {
  max-width: 700px;
  margin: 0 auto;
}

.message-title {
  font-family: "BrittanySignature";
  font-size: clamp(2.2rem, 5vw, 2.6rem);
  color: #201f1f;
  margin-bottom: 1.5rem;
  text-align: center;
}

.message-text {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #333;
  text-align: center;
}