/* =============================
   CONFIRMACION FINAL
============================= */

.confirm {
  background-image: url("/img/fondoBlancoNew.jpeg");
  background-size: cover;
  background-position: center;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5rem 2rem;
}

/* CONTENEDOR */
.confirm__content {
  background: #ffffff;
  max-width: 520px;
  width: 100%;

  padding: 3.5rem 3rem;
  text-align: center;
 border-radius: 10%;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

/* TITULO */
.confirm__content h2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(2.2rem, 4vw, 2.6rem);
  margin-bottom: 1.5rem;
  color: #333;
}

/* TEXTO */
.confirm__content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2.5rem;
  color: #333;
}

/* FORM */
.confirm__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* INPUT */
.confirm__input {
  font-family: "Cinzel", serif;
  text-align: center;
  padding: 0.9rem 1.2rem;
  border-radius: 999px;
  border: 1px solid #000;
  font-size: 0.8rem;
  letter-spacing: 1.4px;
  outline: none;
}

/* BOTON */
.confirm__button {
  font-family: "Cinzel", serif;
  font-size: 0.8rem;
  letter-spacing: 1.4px;

  padding: 0.9rem 2.4rem;
  border-radius: 999px;

  background: transparent;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;

  transition: all 0.3s ease;
}

.confirm__button:hover {
  background: #000;
  color: #fff;
}

/* =============================
   MOBILE
============================= */

@media (max-width: 768px) {
  .confirm {
    min-height: auto;
    padding: 4rem 1.5rem;
  }

  .confirm__content {
    padding: 2.8rem 2rem;
  }

  .confirm__content h2 {
    font-size: 2rem;
  }
}