
@font-face {
  font-family: "BrittanySignature";
  src: url("/Font/BrittanySignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.adults {
  display: flex;
  min-height: 70vh;
  background-image: url("/img/fondoBlancoNew.jpeg");
  color: #333333;
}

/* Texto */
.adults__text {
  flex: 1;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  
  text-align: center;
}

.adults__text h2 {
  font-family: "BrittanySignature";
  font-size: 2.2rem;
  color: #333333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.adults__text p {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 1.2rem;
  text-align: center;
}

.adults__thanks {
  font-style: italic;
  margin-top: 1rem;
  text-align: center;
}

/* Imagen */
.adults__image {
  flex: 1;
  overflow: hidden;
}

.adults__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 📱 Responsive */
@media (max-width: 768px) {
  .adults {
    flex-direction: column;
  }

  .adults__text {
    padding: 3rem 2rem;
    text-align: center;
  }

  .adults__image {
    height: 300px;
  }
}
