.short-video {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;

  background-image: url("/img/fondoBlancoNew.jpeg"); /* ← BLANCO */
}

/* Video */
.short-video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* evita espacios raros */
}